%section.wrapper
  %h1#indexLogo
    = image_tag 'stamppp_1.gif', alt: 'StamPPP'
  %p.txt1.mb100
    学習を楽しもう。
    %br>/
    課題を終わらせてスタンプを。
  %p.txt2
    %a.link1{:href => "#"}> 利用規約
    に同意して
  #homeLogin
    %p
      = link_to '/auth/twitter' do
        = image_tag "home_2.gif"
        Twitterでログイン
