%section.footer2
  %h2#footerCopy
    Enjoy
    %span Design
    %div
      = image_tag 'part_8.gif'
  %p.fotterLink
    = link_to 'Home', root_path, class: 'link1'
    \/
    %a.link1{:href => "./about/"} About
    \/
    %a.link1{:href => "./contact/"} Contact
  %p.copyright StamPPP ©2014 All rights reserved.
